<div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/image.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
         <div class="col-md-12 text-center mb-5" >
            <p class="breadcrumbs "><span class="mr-3"><a href="index.html">{{parentTitle}} <i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></a></span></p>
            <!-- <p class="breadcrumbs mb-0">Contact</p> -->
            <!-- <h1 class="mb-3 bread">Contact us</h1>  -->
        </div>  
    </div>
    </div>
</div>