
<div class="container animate" [ngClass]=" {'config2' : classConfig}">
	<form [formGroup]="insertForm" (ngSubmit)="onSubmit()" class="sign-up_modal-content animate" method="post" style="width:700px;height:auto;margin-top: 0;">
		<div class="imgcontainer">
			<img src="../../assets/images/bbuser.jpg" alt="Avatar" class="avatar">
			<ul *ngIf = "invalidRegister" class = "list-unstyled alert alert-danger mt-3">
				<li class = "text-danger" *ngFor="let error of errorList">{{error}}</li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group">
						<label class="label " for="first_name">first name</label>
						<input class="input--style-4" type="text" formControlName="firstName" required>
						<span *ngIf="firstName.hasError('required')" class = "text-danger">First Name is required</span>

					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<label class="label " for="last_name">last name</label>
						<input class="input--style-4" type="text" formControlName="lastName" required>
						<span *ngIf="lastName.hasError('required')" class = "text-danger">Last Name is required</span>

					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-6">
					<div class="input-group">
						<label class="label" for="psw">Password</label>	
						
						<input class="input--style-4" type="password"  formControlName="password"  required>
						<span *ngIf="password.hasError('required')" class = "text-danger">Password is required</span>

					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<label for="rpt_psw" class="label">Repeate Password</label>
						<input class="input--style-4" type="password" formControlName="cpassword" required>
						<div *ngIf="cpassword.touched && cpassword.errors">
							<span *ngIf="cpassword.hasError('required')" class = "text-danger">Confirm Password is required</span>
							<span *ngIf="cpassword.hasError('mustMatch')" class = "text-danger">Password Must Match</span>
						  </div>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<label class="label" for="email">Email</label>
						<input class="input--style-4" type="email" formControlName="email"  required>
						<span *ngIf="email.hasError('required')" class = "text-danger">Email is required</span>

					</div>
				</div>
				<div class="col-lg-6">
					<div class="input-group">
						<label class="label" for="phone">Phone Number</label>
						<input class="input--style-4" type="text"  formControlName="phoneNumber" required>
						<span *ngIf="email.hasError('required')" class = "text-danger">Phone Number is required</span>
					</div>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-6">
					<div class="input-group">
						<label class="label" for="username">Username</label>
						<input class="input--style-4" type="text"  formControlName="username" required>
						<span *ngIf="username.hasError('required')" class = "text-danger">Username is required</span>
						
					</div>
                </div>
                <div class="col-md-6">
					<div class="input-group">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<label class="label">Gender</label>
								</div>
							</div>
							<div class="row">
								<div class="p-t-10 col-md-12">
									<label class="radio-container m-r-45">Male
										<input type="radio" checked="checked" formControlName="gender" value = "0">
										<span class="checkmark"></span>
									</label>
									<label class="radio-container">Female
										<input type="radio" formControlName="gender" value = "1">
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-md-6 input-group">
					<label for="id" class="label">ID Number</label>
					<input type="text" name="id" id="" class="input--style-4" required>
					<span *ngIf="username.hasError('required')" class = "text-danger">ID Number is required</span>
				</div>
				<div class="p-t-15 col-md-6">
					<button class="btn btn--radius-2 btn--blue" style="width: 100%; margin-top: 20px;" type="submit" [disabled]="insertForm.invalid">Sign Up</button>
				</div>
			</div>


			<!-- <div class="row">
				<div class="col-lg-12">
					<div class="input-group">
						<label class="label">Birthday</label>
					    <div class="input-group-icon" style="width: 100%;">
							<input class="input--style-4" style="width: 100%;" type="text" name="birthday" required>
							<span class="fa fa-calendar input-icon"></span>
						</div>
                    </div>
				</div>
				
			</div>  -->

            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <label class="label" for="country">Country</label>
                        <div class="">
                            <select name="country">
                                <option disabled="disabled" selected="selected">Choose Your City</option>
                                <option>Nablus</option>
                                <option>Tulkarm</option>
                                <option>Ramallah</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
        </div> 
                </div>
            </div> -->
			
		</div>

		<!-- <div class="p-t-15" style="width:50%;margin: auto;">
			<button class="btn btn--radius-2 btn--blue" style="width: 100%;" type="submit" [disabled]="insertForm.invalid">Sign Up</button>
		</div> -->
	</form>
</div>

