
<div class="row">

  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Subscriptions
      </div>
      <div class="card-body">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>

  
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Categories
      </div>
      <div class="card-body">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
 




  
</div>


  <div class="row">
    <div class="col-md-6">
      <div class="card main-card mb-3">
        <div class="card-header">
          Profit Rate
        </div>
        <div class="card-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
    
