<div>
    
    <form class="modal-content animate" action="/action_page.php" method="post" style="width: 500px;height:auto;margin-top: 0;">
        <div class="imgcontainer" >
        <span onclick="document.getElementById('add_shop').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="../../assets/images/shop.png"  alt="shop" class="avatar js-tilt" style="width: 100px; height: 100px;">
       
        </div>

    <div class="container" style="height: auto;">
        <label for="shop-name"><b>Shop Name</b></label>
        <input type="text" placeholder="Enter your shop name" name="shop-name" required>

        <label for="service"><b>Type of services</b></label>
        <input type="text" placeholder="Enter your provided services" name="service" required>

        <label for="website"><b>Shop website</b></label>
        <input type="url" placeholder="Enter your website" name="website">
        
        

        <label for="phone"><b>Shop phone</b></label>
        <input type="tel" placeholder="+970599999999" name="phone" required>

        <label for="website"><b>Description</b></label>
        <input type="text"  name="description">
        
    </div>

    <div class="container" style="background-color:#f1f1f1">
       
        <button type="submit" class="savebtn green-btn ">Submit</button>
    </div>
    
    </form>
  </div>