<nav class="navbar navbar-expand-lg navbar-dark  topnav" id="navbar">
    <div class="nav-cont">
        <div class="logo">
            <a class="navbar-brand" routerLink="index.html">Dig-Pay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="">Menu</span> 
            </button>
        </div>
      <div id="ftco-nav" class="ftco-nav">
        <ul class="collapse navbar-collapse navbar-nav">
          <li class="nav-item"><a routerLink = "/home" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink = "/browseshops"class="nav-link">Browse Shops</a></li>
          <li class="nav-item"><a routerLink="/test" class="nav-link">About us</a></li>
          <li class="nav-item"><a routerLink="/contactus" class="nav-link">Contact</a></li>
          <li class="nav-item nav-btn blue-btn"><a  class="nav-link"   (click)="openLoginDialog()">Login</a></li>
          
          <li class="nav-item nav-btn"><a  class="nav-link"  (click)="openSignupDialog()" >Sign up</a></li>
          
        </ul>
        <app-dropdown></app-dropdown>
      </div>
    </div>
</nav>
