<a onclick="document.getElementById('add_shop').style.display='block'" style="width:auto;">Add Shop</a>

<div id="add_shop" class="modal">
    
    <form class="modal-content animate" action="/action_page.php" method="post" style="width: 500px;height:auto;margin-top: 0;">
        <div class="imgcontainer" >
        <span onclick="document.getElementById('add_shop').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="../../assets/images/shop.png"  alt="shop" class="avatar js-tilt" style="width: 100px; height: 100px;">
        <label class="custom-file">
            <input type="file" id="file" class="custom-file-input">
            <span class="custom-file-control">Choose file <i class="fa fa-upload"></i></span>
        </label>
        </div>

    <div class="container" style="height: auto;">
        <label for="shop-name"><b>Shop Name</b></label>
        <input type="text" placeholder="Enter your shop name" name="shop-name" required>

        <label for="service"><b>Type of services</b></label>
        <input type="text" placeholder="Enter your provided services" name="service" required>

        <label for="website"><b>Shop website</b></label>
        <input type="url" placeholder="Enter your website" name="website">
        
        <label for="address"><b>Shop Address</b></label>
        <input type="text" placeholder="Enter your Shop address" name="address">

        <label for="phone"><b>Shop phone</b></label>
        <input type="tel" placeholder="+970599999999" name="phone" required>
        
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" onclick="document.getElementById('add_shop').style.display='none'">Cancel</button>
        <button type="submit" class="savebtn green-btn ">Submit</button>
    </div>
    
    </form>
  </div>