<app-nav></app-nav>
<app-wrap [parentTitle] = "title"></app-wrap>


<div class="container" style="padding-left: 70px;">
    <div class="row d-flex mb-5 contact-info">
      <div class="col-md-12 mb-4">
        <h2 class="h3">Contact Information</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3">
        <p><span>Address:</span> Kadoori St. Tulkarm, Westbank, Palestine</p>
      </div>
      <div class="col-md-3">
        <p><span>Phone:</span> <a href="tel://1234567920">+970 569 933 820</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Email:</span> <a href="mailto:info@ptuk.edu.ps">info@ptuk.edu.ps</a></p>
      </div>
      <div class="col-md-3">
        <p><span>Website</span> <a href="#">dig_pay.com</a></p>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div id="map" class="bg-white"style="width: 100%;" ><h4>Location</h4></div>
      </div>
    <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
            <app-contact-form></app-contact-form>
        </div>
        
        <div class="col-md-6 d-flex">
           
            <img src="assets/images/map.PNG" class="map">
        </div>
    </div>
</div>

<app-footer></app-footer>
