

textarea {
  overflow: auto;
  resize: vertical;
 }

textarea.form-control {
  height: inherit !important; }
      
.contact-form {
    width: 150%; }
.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 14px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .form-control:focus, .form-control:active {
      border-color: #000000; }


      .form-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        margin-bottom: 1rem; }
    