    <img src="../../assets/images/bbuser.jpg" style="width: 150px; height: 150px;" class="mx-auto d-block" alt="avatar">
    <h6 class="mt-2">Upload a different photo</h6>

    <div class="row" style="margin-bottom: 30px; ">
        <div class="col-lg-12 order-lg-1 text-center">
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span style="color:darkslategrey">Choose file <i class="fa fa-upload"></i></span>
            </label>
        </div>    
    </div>   
    <div class="row">   
        <div class="col-lg-12 order-lg-1 text-center">
            <input type="button" class="btn btn-sc" value="Scan Code"><br>
            <input type="button" class="btn btn-sc green-btn" value="Add a shop" onclick="document.getElementById('add_shop').style.display='block'"  style="margin-top: 20px">
        </div>
    </div> 
