
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
  <div class="m-auto">
    <div class="card main-card mb-3">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <ul *ngIf = "invalidGenerate" class = "list-unstyled alert alert-danger mt-3">
          <li class = "text-danger" *ngFor="let error of errorList">{{error}}</li>
        </ul>
        <span  class="kt-section__sub">
          <pre>Enter Money Amount You Want To Charge</pre>
        </span>
        <div class="divider"></div>
         <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Generate Barcode</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style='text-align: center;'>
              <img alt='Barcode Generator TEC-IT' #barcodeResult [src] = "barcodeValue" />
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>
        <form [formGroup]="form" (ngSubmit) = "generateBarCode(content)"> 
          <div class="input-group mb-4">
            <div class="input-group-prepend"><span class="input-group-text">Nis</span></div>
            <input placeholder="Amount"  name = "codeText"  formControlName="amount" step="1" min = "1"  max = "500" type="number" class="form-control" required>
            <div class="input-group-append"><span class="input-group-text">.00</span></div>
          </div>
          <div *ngIf="amount.touched && amount.hasError('required')" class = "text-danger valid">amount is required</div>
          <div class="input-group mb-4">
            <input type="radio" checked="checked"  formControlName="usedFor" value = "purchase"> <span class = "mx-3"> purchase</span>
            <input type="radio" checked="checked"  formControlName="usedFor" value = "charge"> <span class = "mx-3"> charge</span> 
          </div>
        <button type = "submit" class = "btn btn-primary" [disabled] = "form.invalid">Generate</button>
      </form>
      </div>
    </div>
</div>
