
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
  <div class="m-auto">
    <div class="card main-card mb-3">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <span  class="kt-section__sub">
          <pre>Enter Money Amount You Want To Charge</pre>
        </span>
        <div class="divider"></div>
         <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Basic demo</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style='text-align: center;'>
              <img alt='Barcode Generator TEC-IT' #barcodeResult [src] = "barcodeValue" />
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>
        <form #form = "ngForm" (ngSubmit) = "generateBarCode(content, form)"> 
          <div class="input-group mb-4">
            <div class="input-group-prepend"><span class="input-group-text">Nis</span></div>
            <input placeholder="Amount" ngModel name = "codeText"  #codeText = "ngModel" step="1" min = "1"  max = "500" type="number" class="form-control" required>
            <div class="input-group-append"><span class="input-group-text">.00</span></div>
          </div>
        <button type = "submit" class = "btn btn-primary" [disabled] = "form.invalid">Generate</button>
      </form>
      </div>
    </div>
</div>
