

<div class="container">
    <div class="row">
        
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li> 
                <!-- <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link">History</a>
                </li>                 -->
                <li class="disabled">
                    <a data-target="#edit" data-toggle="tab"  class="nav-link" disabled>Shop info</a>
                </li>
            </ul>

            <div class="tab-content py-4">
                <div class="tab-pane  active" id="edit">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="O4" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Bishop" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="email@gmail.com" disabled>
                                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>      
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Phone</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="tel" id="ii" value="" disabled>
                                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Address</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" placeholder="Street" disabled>
                                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="" placeholder="City" disabled> 
                                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Date of birth</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="date" value="" placeholder="" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333" disabled>
                                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn cancelbtn " value="Cancel">
                                <input type="button" class="btn  savebtn green-btn" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>

                







                <div  class="tab-pane" id="edit">



    <form role="form">
        <div class="form-group row">
            <div class="col-lg-12 order-lg-1 text-center">
                <img src="../../assets/images/bbuser.jpg" class="img2" alt="avatar">             

                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input">
                    <span style="color:darkslategrey">Choose file <i class="fa fa-upload"></i></span>
                </label>
            </div> 
            
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Shop Name</label>
            <div class="col-lg-9">
                <input class="form-control" type="text"  disabled>
                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Type Of Service</label>
            <div class="col-lg-9">
                <input class="form-control" type="text"  disabled>
                <a href="#" class="badge"><i class="fa fa-edit"></i></a>
            </div>
        </div>
      
      
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Website</label>
            <div class="col-lg-9">
                <input class="form-control" type="url" value="" disabled>
                 <a href="#" class="badge"><i class="fa fa-edit"></i></a>
            </div>
        </div>
       

        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Phone</label>
            <div class="col-lg-9">
                <input class="form-control" type="tel" value="" placeholder="" disabled>
                 <a href="#" class="badge"><i class="fa fa-edit"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Location</label>
            <div class="col-lg-9">
                <input class="form-control" type="text" value="" placeholder="Street" disabled>
                 <a href="#" class="badge"><i class="fa fa-edit"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>

            <div class="col-lg-9">
                <input class="form-control" type="text" value="" placeholder="City" disabled>
                 <a href="#" class="badge"><i class="fa fa-edit"></i></a>
            </div>
        </div>

       
        <div class="form-group row">
            <label class="col-lg-3 col-form-label"></label>
            <div class="col-lg-9">
                <input type="reset" class="btn cancelbtn " value="Cancel">
                <input type="button" class="btn  savebtn green-btn" value="Save Changes">
            </div>
        </div>
    </form>
</div>
            </div>

        </div>

        <div class="col-lg-4 order-lg-1 text-center">





            <img src="../../assets/images/bbuser.jpg" style="width: 150px; height: 150px; border-radius: 50%;" class="mx-auto d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
        
            <div class="row" style="margin-bottom: 30px; ">
                <div class="col-lg-12 order-lg-1 text-center">
                    <label class="custom-file">
                        <input type="file" id="file" class="custom-file-input">
                        <span style="color:darkslategrey">Choose file <i class="fa fa-upload"></i></span>
                    </label>
                </div>    
            </div>   
            <div class="row">   
                <div class="col-lg-12 order-lg-1 text-center">
                    <input type="button" class="btn btn-sc green-btn" value="Add a shop" onclick="document.getElementById('add_shop').style.display='block'"  style="margin-top: 20px">
                </div>
            </div> 
        
        </div>

    </div>

</div>


