@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}
    
.block-27 ul {
    padding: 0;
    margin: 0; }
    .block-27 ul li {
      display: inline-block;
      margin: 2px;
      font-weight: 400; }
      .block-27 ul li a, .block-27 ul li span {
        color: #206dfb;
        text-align: center;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid #b6cffe; }
      .block-27 ul li.active a, .block-27 ul li.active span {
        background: #206dfb;
        color: #fff;
        border: 1px solid transparent; }
    .block-27 ul li a:hover{ text-decoration: none;}