<app-nav></app-nav>
<app-wrap [parentTitle] = "title"></app-wrap>


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <app-post-shop></app-post-shop>
            <app-post-shop></app-post-shop>
            <div class="row mt-5">
                <div class="col text-center">
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>

<app-footer></app-footer>
