<!-- <app-nav></app-nav>
<app-wrap></app-wrap> -->
<!-- <section class="sec-cover">
    <app-browse-shops ></app-browse-shops>
</section> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <section class="sec-cover">
    <app-contact-us></app-contact-us>
</section> -->
<!-- <app-footer></app-footer> -->

<!-- <section class="sec-lcover">
    <app-user-profile></app-user-profile>
</section>  -->
<!-- <section class="sec-lcover">
    <app-shop-info-tab></app-shop-info-tab>
</section>  -->
<!-- <app-shop-modal></app-shop-modal> -->
<router-outlet></router-outlet>

