<div class="sidebar-box bg-white p-4">
    <h3 class="heading-sidebar heading-3">Browse Category</h3>
    <form action="#" class="search-form mb-3">
        <div class="form-group">
            <i class="icon fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Search...">
        </div>
    </form>
    <form action="#" class="browse-form">
        <label for="option-shop-1"><input type="checkbox" id="option-shop-1" name="vehicle" value=""
                checked> Website &amp; Software</label><br>
        <label for="option-shop-2"><input type="checkbox" id="option-shop-2" name="vehicle" value="">
            Education &amp; Training</label><br>
        <label for="option-shop-3"><input type="checkbox" id="option-shop-3" name="vehicle" value="">
            Graphics Design</label><br>
        <label for="option-shop-4"><input type="checkbox" id="option-shop-4" name="vehicle" value="">
            Accounting &amp; Finance</label><br>
        <label for="option-shop-5"><input type="checkbox" id="option-shop-5" name="vehicle" value="">
            Restaurant &amp; Food</label><br>
        <label for="option-shop-6"><input type="checkbox" id="option-shop-6" name="vehicle" value="">
            Health &amp; Hospital</label><br>
    </form>
</div>