
.container{
    margin-top: 50ps;
    width: 80%;
}
.prop-sec{
    width: 60%;
    padding: 20px;
    margin: 35px auto;
    text-align: center;
}
.cover img{
    width:100%;
    text-align: center;

}
.cover{
    text-align: center;
}
p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47;
    color: #555;
    margin-top: 16px;
    font-family: SF Pro Text,"SF Pro Text",sans-serif;
}
h2{
    color: black;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.17;
    font-family: SF Pro Text,"SF Pro Text",sans-serif;
    margin-top: 40px;
}
.img-cont p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47;
    color: #555;
    font-family: SF Pro Text,"SF Pro Text",sans-serif;
}
.img-cont{
    text-align: center;
    // width: 50%;
}
.img-cont img{
    width: 60%;
    text-align: center;
}