<app-nav></app-nav>
<app-wrap [parentTitle] = "title"></app-wrap>



<p>You can easily make payments online/offline with Dig-Pay.
</p>
<div class="container cover" >
    <img src="../../assets/images/ways-reduce-lower-monthly-phone-bills-1068x713.jpg" style="height:400px; width: 90%;" alt="">
</div>

<div class="container prop-sec">
    <h2>Begin using Dig-Pay an easy, convenient, and safe payment system!</h2>
    <p>You can easily make payments from Dig-Pay Merchant!</p>
</div>

<div class="container prop-sec">
    <div class="row"> 
        <div class="col-md-3">
            <div class=" img-cont">
                <img src="../../assets/images/signup.png" alt="">
                <p>Any Dig-Pay user can easily sign up.</p>
            </div>          
        </div>
        <div class="col-md-3">
            <div class="img-cont">
                <img src="../../assets/images/shop.png" alt="">
                <p>Make an easy and quick payment from Dig-Pay Merchant</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="img-cont">
                <img src="../../assets/images/lock.png" alt="">
                <p>Make payments safely!</p> 
            </div>               
        </div>
        <div class="col-md-3">
            <div class="img-cont">
                <img src="../../assets/images/money.png" alt="">
                <p>Various campaigns and point benefits</p>
            </div>
        </div>
    </div>
</div>


<div class="container prop-sec">
    <h2>Freely make payments even without a wallet.</h2>
    <p>Be worry-free with your smartphone. <br> Easily and conveniently make payments from Dig-Pay Merchant.</p>
</div>
<div class="container cover">
    <img src="../../assets/images/scan.jpg" alt="scaner">
</div>
    
<app-footer></app-footer>