<app-nav></app-nav>
<app-wrap [parentTitle]="title"></app-wrap>

<div class="container">
    <div class="row">
        
        <div class="col-lg-8 order-lg-2">
            <mat-tab-group>
            <ul class="nav nav-tabs">
                
                <li class="nav-item">
                    <a data-target="#profile" data-toggle="tab" class="nav-link active"><mat-tab label="Profile" >
                        <app-user-profile-form id="profile"></app-user-profile-form>
                    </mat-tab></a>
                </li> 
                <!-- <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link">History</a>
                </li>                 -->
                <li class="disabled">
                    <a data-target="#edit" data-toggle="tab"  class="nav-link" disabled > <mat-tab  animationDuration="0ms" label=" Shop info"> 
                        <app-shop-info-tab id="edit"></app-shop-info-tab>
                    </mat-tab> </a>
                </li>
            </ul>
</mat-tab-group>
            

        </div>

        <div class="col-lg-4 order-lg-1 text-center">
            <app-user-sidebar></app-user-sidebar>
        </div>

    </div>

</div>

<app-footer></app-footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
